.calculator {
  border: 1px solid rgb(58, 27, 27);
  width: 200px;
  border-radius: 5px;
}
.display {
  margin: 10px;
  width: 175px;
}
.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button {
  width: 45px;
  height: 45px;
  margin: 3px;
}
